p {
	margin-bottom: 4px;
}

hr {
	border: none;
	border-bottom: 1px solid #666;
	display: block;
	margin: 35px 0px;
}

div#um {
	border: 1px solid #000;
	height: 200px;
	width: 400px;
	background: linear-gradient(to right, #96b9f2,#FFF);
	box-shadow: 3px 3px 10px #000,
				-3px -3px 10px #600; 
				/* podemos utilizar múltimas sombras separando por , (vírgula) */
				/* os dois primeiros parâmetros negativos indica que a sombra deslocará a esquerda e para cima, respectivamente no eixo X e eixo Y (por padrão é para direita e para baixo) */
}

div#dois {
	border: 1px solid #000;
	height: 80px;
	width: 80px;
	background-color: #b5ff55;
	transition: padding 0.5s,
				background-color 1s,
				transform 2s;
				/* 
					Podemos definir como será a transição para diferentes propriedades
					separando por vírgula cada definição.
					Nesse caso, defimos que transição de padding deverão demorar 0.5 segundos, de background-color 1 segundo e de transformação 2 segundos
				*/
}	

div#dois:hover {
	background-color: #060;
	padding: 10px;
	transform: rotate(30deg);
	/*
		há diferentes funções relacionadas à transformação,
		em especial funções de rotação, translação e escala (rotate, translate, scale), tanto em 2D quanto em 3D
	*/
}

div#tres {
	border: 1px solid #000;
	height: 300px;
	width: 300px;
	background: linear-gradient(45deg, 
								#96b9f2, 
								#ffd800 45%, 
								#b40808, 
								#96b9f2); 
	/* a direção pode ser em graus, nesse caso definimos 45º */
}

div#quatro {
	border: 1px solid #000;
	height: 300px;
	width: 300px;
	background:  radial-gradient(circle at 0px 0px, #006600, #FFFF00, #FF0000);
	/* a direção pode ser em graus, nesse caso definimos 45º */
}

@font-face {
	font-family: 'Material Icons';
	  src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-style: normal;
	font-size: 24px;
}