#lb-nome {
	font-weight: bold;
	color: #808;
	font-size: 32px;	
}

.rotulos {
	font-weight: bold;
	color: #080 !important; /* "fura a fila" de precedência*/
	font-size: 32px;	
}

div > p > label {
	font-weight: bold;
	color: #008;
	font-size: 32px;	
}

/*div > label {
	font-weight: bold;
	color: #808;
	font-size: 32px;
}

span {
	display: block;
}*/