div#um {
	height: 250px;
	width: 250px;
	left: 190px;
	top: 250px;
	z-index: 2;
}

div#dois {
	border: 1px solid #009;
	height: 200px;
	width: 200px;
	left: 150px;
	top: 200px;
	z-index: 1;
}

div#tres {
	border: 1px solid #6a6707;
	height: 80px;
	width: 80px;
	right: 2px;
	top: 2px;
	z-index: 1;
}

